:local {
    .app {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: blue;
        flex-direction: column;
    }
}