:local {
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .logo {
        height: 80px;
        width: 80px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: rotation 60s infinite linear;
        .ring {
            position: absolute;
            height: 100%;
            width: 40%;
            box-sizing: border-box;
            border: solid 3px var(--theme--accent);
            border-radius: 100%;
            &:nth-child(1) {
                transform: rotate(0deg);
            }
            &:nth-child(2) {
                transform: rotate(60deg);
            }
            &:nth-child(3) {
                transform: rotate(120deg);
            }
        }
        .dot {
            height: 15%;
            width: 15%;
            background: var(--theme--accent);
            border-radius: 100%;
        }
    }
}