:root {
    /*filter: grayscale();*/

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --theme--accent: #FFC232;
    --theme--background: #F7F7FF;
    --theme--contrast: #090C08;
    --theme--inactive: #777777;
}
:global {
    body, html {
        padding: 0;
        margin: 0;
    }
    body {
        background: var(--theme--background);
    }
}